<% @collection.collectionTags.each do |tag| %>
  <li data-tag="<%= tag.name %>" data-show="enabled"><a><i class="tag-eye fa fa-eye"></i><span><%= tag.name %></span></a></li>
<% end %>
<li id="tag-form">
  <span>
    <div>
      <%= render partial: "maps/tag_form", locals: {collection: @collection, user: @collection.user} %>
    </div>
  </span>
</li>
  