removeGeomarkerShow();
$(".form-container").append("<div class='geomarker-edit' data-id=<%= params[:id] %>><%= j render 'geomarkers/edit' %></div><iframe id='blank_iframe' name='blank_iframe'><div id='map'></div></iframe>");

$("#cancelFormButton").on("click", function(){
  enableMap();
  removeGeomarkerEdit();
  removeIFrame();
});

$(".edit_geomarker").on("submit", function(){
  var id = $(".geomarker-edit").attr("data-id");
  $("#blank_iframe").on("load", function(){
    var errors = extractIFrameErrors();
    if (errors) {
      $("#blank_iframe").off();
      $("#geomarker-form-errors").empty();
      $("#geomarker-form-errors").append(errors);
    } else {
      removeMarker(id);
      updateMap();
      getGeomarkerShow(id);
      $(this).remove();
      removeGeomarkerEdit();
    }
  });
});

if ($("#geomarker_remove_image")) {
  $("#geomarker_remove_image").on("click", function(){
    if ($("#geomarker_remove_image").is(":checked")) {
      $("#geomarker_remove_image").parent().append("<section id='fileUploadSection'><label for='geomarker_image'>Upload Image</label><input id='geomarker_image' name='geomarker[image]' type='file'></section>");
    } else {
      $("#fileUploadSection").remove();
    }
  });
}