$(".form-container").append("<div class='geomarker-form'><%= j render 'geomarkers/new_form' %></div><iframe id='blank_iframe' name='blank_iframe'></iframe>");
$("#cancelFormButton").on("click", function(){
  enableMap();
  $("#new-marker-button").trigger("click");
  quitGeomarkerForm();
  removeIFrame();
});
$("#new_geomarker").on("submit", function(){
  $("#blank_iframe").on("load", function(){
    getLastGeomarkerCreatedByUser();
    $(this).remove();
    updateMap();
  });
  $("#new-marker-button").trigger("click");
  quitGeomarkerForm();
});