$("#map").append("<div id='geomarker-form'><%= j render 'geomarkers/new_form' %></div>");
$("#cancelFormButton").on("click", quitGeomarkerForm);
$("#new_geomarker").on("submit", quitGeomarkerForm);
$("#new_geomarker").on("submit", makeMarker());