$(".form-container").append("<div class='geomarker-form'><%= j render 'geomarkers/new_form' %></div><iframe id='blank_iframe' name='blank_iframe'><div id='map'></div></iframe>");

$("#cancelFormButton").on("click", function(){
  enableMap();
  $("#new-marker-button").trigger("click");
  removeGeomarkerForm();
  removeIFrame();
});
$("#new_geomarker").on("submit", function(){
  $("#submit").val("Uploading...");
  $("#blank_iframe").on("load", function(){
    var errors = extractIFrameErrors();
    if (errors){
      $("#blank_iframe").off();
      $("#geomarker-form-errors").empty();
      $("#geomarker-form-errors").append(errors);
      $("#submit").val("Submit");
    } else {
      // showNewGeomarkerByUser();
      getNewMarkerByUser();
      removeIFrame();
      updateMap();
      $("#new-marker-button").trigger("click");
      removeGeomarkerForm();
    }
  });
});
