$(".form-container").append("<div class='geomarker-show' data-id='<%= @geomarker.id %>'><%= j render 'geomarkers/show' %></div>");

$("#optionsButton").on("click", function(e){
  if ($("#optionsMenu").is(":hidden")){
    $("#optionsMenu").slideDown("slow");
    e.stopPropagation();
  };
});
$(document).on("click", function(){
  if ($("#optionsMenu").is(":visible")){
    $("#optionsMenu").slideUp();
  }
});

$("#editButton").on("click", function(e){
  var id = $(".geomarker-show").attr("data-id");
  getGeomarkerEdit(id);
  e.stopPropagation();
});

$("#deleteButton").on("click", function(e){
  var id = $(".geomarker-show").attr("data-id");
  deleteGeomarker(id);
  e.stopPropagation();
});

$("#closeShowButton").on("click", function(){
  enableMap();
  removeGeomarkerShow();
});

$("#addTagButton").on("click", function(){
  $(".new-tag-bar").slideToggle("slow")
});

$("#tagSubmit").on("click", function(){
  var id = $(".geomarker-show").attr("data-id");
  addNewTags(id)
});

$("#comment-display").on("click", ".deleteCommentButton", function(e){
  var geomarkerID = $(".geomarker-show").attr("data-id");
  var commentID = $(this).attr("data-comment-id");
  deleteComment(geomarkerID, commentID);
  $(this).parent().remove();
  if ($.trim($("#comment-display").html()) == ""){
    $("#comment-header").text("Be the first to comment.");
  }
  e.stopPropagation();
});