$("#map").append("<div id='geomarker-show' data-id='<%= @geomarker.id %>'><%= j render 'geomarkers/show' %></div>");

$("#optionsButton").on("click", function(e){
  if ($("#optionsMenu").is(":hidden")){
    $("#optionsMenu").slideDown("slow");
    e.stopPropagation();
  };
});
$(document).on("click", function(){
  if ($("#optionsMenu").is(":visible")){
    $("#optionsMenu").slideUp();
  }
});

$("#editButton").on("click", function(e){
  var id = $("#geomarker-show").attr("data-id");
  getGeomarkerEdit(id);
  e.stopPropagation();
});

$("#closeShowButton").on("click", function(){
  enableMap();
  removeGeomarkerShow();
});