clearViews();
disableMap();
$(".form-container").append("<div class='user-show' data-id='<%= @user.id %>'><%= j render 'users/show' %></div>");

$("#closeShowButton").on("click", function(){
  if(profileView){
    $("#user").trigger("click");
  } else {
    clearViews();
    enableMap();
  }
});

$(".friendSection").on("click", ".friendProfileButton", function(e){
  var id = $(this).attr("data-id");
  removeUserProfile();
  getUserProfile(id);
  e.stopPropagation();
});

$(".acceptFriendshipButton").on("click", function(e){
  var id = $(this).parent().attr("data-request-id");
  acceptFriendship(id);
  $(this).parent().remove();
  if ($(".requestList li").length == 0){
    $(".requestList").remove();
  }
  e.stopPropagation();
});

$("#ignoreRequestButton").on("click", function(e){
  var id = $(this).parent().attr("data-request-id");
  ignoreFriendship(id);
  $(this).parent().remove();
  if ($(".requestList li").length == 0){
    $(".requestList").remove();
  }
  e.stopPropagation();
});