clearViews();
$(".form-container").append("<div class='user-show'><%= j render 'users/show' %></div>");

$("#closeShowButton").on("click", function(){
  $("#user").trigger("click");
});

$(".friendsList").on("click", ".friendProfileButton", function(e){
  var id = $(this).attr("data-id");
  removeUserProfile();
  getUserProfile(id);
  e.stopPropagation();
});

$(".acceptFriendshipButton").on("click", function(){
  var id = $(this).attr("data-id");
  acceptFriendship(id);
  $(this).parent().remove();
  if ($(".requestList li").length == 0){
    $(".requestList").remove();
  }
});