@import "foundation_and_overrides";

.map-wrapper {
  height: 100%;
  width: 100%;
  position: relative
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

#newMarkerButton {
  @extend .large-1;
  @extend .medium-2;
  @extend .small-3;
  @extend .columns;
  @extend .button;
  @media only screen and (min-width: 40em) {
    right: 45%;
  }
  @media only screen and (max-width: 40em) {
    right: 3em;
  }
  bottom: 3em;
  z-index: 100;
  position: absolute;
  text-align: center;
}

.geocoder-bar {
  @extend .large-4;
  @extend .medium-6;
  @extend .small-9;
  @extend .large-centered;
  @extend .medium-centered;
  @extend .small-offset-3;
  @extend .columns;
  display: none;
}

.geocoder-wrapper {
  @extend .row;
  @extend .collapse;
}

.addressSearch {
  @extend .large-8;
  @extend .medium-8;
  @extend .small-9;
  @extend .columns;
  z-index: 100;
}

.searchButton {
  @extend .large-4;
  @extend .medium-4;
  @extend .small-3;
  @extend .columns;
}

#addressLookup {
  @extend .button;
  @extend .tiny;
  @extend .postfix;
}

.form-container {
  @extend .row;
  height: 100%;
  z-index: -100;
}

.geomarker-form {
  @extend .large-5;
  @extend .medium-6;
  @extend .small-12;
  @extend .large-centered;
  @extend .medium-centered;
  @extend .small-centered;
  @extend .columns;
  @media only screen and (min-width: 40em) {
    max-height: 90%;
    padding: 2em;
  }
  @media only screen and (max-width: 40em) {
    max-height: 100%;
    padding: 1em;
  }
  @media only screen and (max-height: 40em) {
    top: 1%;
  }
  @media only screen and (min-height: 40em) {
    top: 7.5%;
  }
  border: 1px solid black;
  border-radius: 7px;
  z-index: 1001;
  background-color: #fff;
  text-align: center;
  overflow: scroll;
}

#geomarker_description {
  @media only screen and (min-width: 40em) {
    height: 7.5rem;
  }
  @media only screen and (max-width: 40em) {
    height: 4.75rem;
  }
}

.geomarker-show {
  @extend .large-8;
  @extend .medium-8;
  @extend .small-12;
  @extend .large-centered;
  @extend .medium-centered;
  @extend .small-centered;
  @extend .columns;
  @media only screen and (min-width: 40em) {
    top: 5%;
    max-height: 90%;
  }
  @media only screen and (max-width: 40em) {
    max-height: 100%;
  }
  padding: 30px;
  border: 1px solid black;
  border-radius: 7px;
  z-index: 1001;
  background-color: #fff;
  text-align: center;
  overflow: scroll;
  hr {
    margin: 0.5rem 0;
  }
}

.user-show {
  @extend .geomarker-show;
  ul {
    list-style: none;
  }
  .friendshipButton {
    @extend .button;
    @extend .tiny;
  }
}

#blank_iframe {
  display: none;
  height: 0;
  width: 0;
}

.leaflet-popup-content {
  padding: 0 auto;
}

.marker-popup {
  width: 200px;
  overflow: hidden;
}

#removeImage {
  color: #900;
  font-size: 1.4em;
  background-color: #FFF;
  border: none;
}

.showOptions {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    float: left;
    display: block;
    position: relative;
    z-index: 1111;
  }
}

#optionsButton {
  @extend .button;
  @extend .tiny;
  display: block;
  margin-bottom: 0;
}

#optionsMenu {
  z-index: 1001;
  display: none;
  list-style: none;
  position: absolute;
  margin-left: 0;
  li {
    display: inline-block;
    text-align: center;
    float: left;
    background-color: #fff;
    border: 1px solid #999;
    width: 78px;
  }
  li:hover {
    background-color: #ccc;
  }
  li:first-child {
    border-bottom: none;
  }
  li:last-child {
    border-top: none;
  }
}

#closeShowButton {
  @extend .button;
  @extend .tiny;
  display: inline-block;
}

#geomarker-form-errors {
  color: #c66;
}

#new_comment {
  label {
    font-size: 2em;
  }
}

#comment-form-errors {
  ul {
    list-style: none;
    color: #c66;
  }
}

// New geomarker tag styling
.new-tag-bar {
  @extend .large-8;
  @extend .medium-8;
  @extend .small-9;
  @extend .large-centered;
  @extend .medium-centered;
  @extend .small-centered;
  @extend .columns;
  display: none;
}

.new-tag-wrapper {
  @extend .row;
  @extend .collapse;
}

.newTags {
  @extend .large-8;
  @extend .medium-8;
  @extend .small-9;
  @extend .columns;
  z-index: 100;
}

.tagSubmitButton {
  @extend .large-4;
  @extend .medium-4;
  @extend .small-2;
  @extend .columns;
}

#tagSubmit {
  @extend .button;
  @extend .tiny;
  @extend .postfix;
}

#friendshipOptionButton {
  margin-bottom: 0;
}

#friendDropMenu {
  @extend #optionsMenu;
  li:first-child {
    border-bottom: none;
  }
  li:nth-child(2) {
    border-top: none;
    border-bottom: none;
  }
  li:last-child {
    border-top: none;
  }
}